/* Nav */
.bg-light {
  background: transparent !important;
  transition: 0.75s ease;
}
.bg-light.scrolled {
  background: #f7f7f7 !important;
}
.bg-dark {
  background: transparent !important;
  transition: 0.75s ease;
}
.bg-dark.scrolled {
  background: #000 !important;
}

.navbar-brand {
  margin-left: 20px;
  text-shadow: 0 0 10px black;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
}

.navbar-brand > img {
  height: inherit;
  width: 3.8rem;
  margin-right: 10px;
}

nav:hover {
  background-color: rgb(0, 0, 0, 0.7) !important;
}

/* Intro */

#intro {
  display: grid;
  color: white;
  align-content: center;
  height: 100vh;
  background-image: radial-gradient(rgb(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url("../img/placeholder2.jpg"); /* placeholder img */
}

#intro > * {
  text-align: center;
  text-shadow: 0 0 10px black;
  margin: 0.5rem auto;
}

#intro > div > h1 {
  font-family: "Open Sans", sans-serif;
}

#intro > div > p {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

#intro span {
  color: #007bff;
  font-weight: 700;
}

.btn {
  width: 9rem;
}

.image-container {
  display: flex;
}

.img-logo {
  margin: 1rem 3rem;
  height: 10rem;
  width: 10rem;
}

/*ABOUT us*/

.description-color {
  background-color: white;
}

#about{
  margin: 8vh 0;
  padding: 0vh 7vw;
}

#about .about-content {
  padding-top: 40px;
}

#about .about-content h2 {
  color: #110e38;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#about .about-content h3 {
  color: #1d1b3a;
  font-weight: 400;
  font-size: 22px;
  font-style: italic;
}

#about .about-content ul {
  list-style: none;
  padding: 0;
}

#about .about-content ul li {
  padding-bottom: 10px;
}

#about .about-content ul li i {
  font-size: 20px;
  padding-right: 4px;
  color: #1bb1dc;
}

#about .about-img {
  position: relative;
  margin: 30px 30px 30px 30px;
}

#about .about-img img {
  width: 100%;
  border: 8px solid #fff;
  transition: 0.5s;
}

#about .about-img img:hover {
  width: 100%;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
#about .about-img::before {
  position: absolute;
  left: -31px;
  top: -30px;
  width: 90%;
  height: 92%;
  z-index: -1;
  content: '';
  background-color: #708fbe;
  transition: .5s;
}

#about .about-img::after {
  position: absolute;
  right: -31px;
  bottom: -30px;
  width: 90%;
  height: 92%;
  z-index: -1;
  content: '';
  background-color: #708fbe;
  transition: .5s;

}

/*service section (Sahil)*/
#services {
  padding: 0vh 7vw;
  background-image: url("../img/features1.jpg");
}

#services .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#services .box:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#services .icon {
  margin: 0 auto 15px auto;
  padding-top: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#services .icon i {
  font-size: 36px;
  line-height: 1;
}

#services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#services .title a {
  color: #111;
}

#services .box:hover .title a {
  color: #1bb1dc;
}

#services {
  padding: 60px 0 40px 0;
}

/*Why us (Sahil)*/

.box {
  width: fit-content;
}

.image img {
  width: 100%;
}

#why-us{
  overflow: hidden;
}

#why-us .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#why-us .box:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#why-us .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#why-us .title a {
  color: #111;
}

#why-us .box:hover .title a {
  color: #1bb1dc;
}

#why-us {
  padding: 80px 0;
}

#why-us .why-content {
  padding-top: 90px;
}

#why-us .why-content ul {
  list-style: none;
  padding: 0;
}

#why-us .why-content ul li {
  padding-bottom: 10px;
}

#why-us .why-content ul li i {
  font-size: 20px;
  padding-right: 4px;
  color: #1bb1dc;
}

#why-us .why-img {
  position: relative;
  margin: 30px 30px 30px 30px;
}

#why-us .why-img img {
  width: 100%;
  border: 8px solid #fff;
  transition: 0.5s;
}
#why-us .why-img::before {
  position: absolute;
  left: -31px;
  top: -30px;
  width: 60%;
  height: 62%;
  z-index: -1;
  content: "";
  background-color: #acc6ec;
  transition: 0.5s;
}

#why-us .why-img::after {
  position: absolute;
  right: -31px;
  bottom: -30px;
  width: 60%;
  height: 62%;
  z-index: -1;
  content: "";
  background-color: #acc6ec;
  transition: 0.5s;
}

/* Portfolio */

#portfolio .carousel-item{
  padding-right: 10%;
}

#portfolio .row{
  margin-top: 10px;
  margin-bottom: 70px;
}

#portfolio .content{
  position: relative;
  top: 25%;
  left: 25%;
}

#portfolio p{
  padding-right: 40%;
}

#portfolio img{
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 10px 2px white;
  transition: 0.6s ease;
}

#portfolio img:hover{
  transform: scale(1.025);
}

/* Team */

#team {
  padding: 60px 0;
  text-align: center;
  /* background-color: black; */
  background-image: url("../img/team.jpg");
  color: white;
}
#team h2 {
  position: relative;
  padding: 0px 0px 15px;
}
#team p {
  font-size: 15px;
  font-style: italic;
  padding: 0px;
  margin: 25px 0px 40px;
}
/* #team h2::after {
  content: '';
  border-bottom: 2px solid #fff;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 90px;
  margin: 0 auto;
  display: block;
} */
#team .member {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 15px ; /* 0px 15px 0px */
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.4);
}
#team .member .member-info {
  display: block;
  position: absolute;
  bottom: 0px;
  left: -200px;
  transition: 0.4s;
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.4);
}
#team .member:hover .member-info {
  left: 0px;
  right: 0px;
}
#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}
#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}
#team .member .social-links {
  margin-top: 15px;
}
#team .member .social-links a {
  transition: none;
  color: #fff;
}
#team .member .social-links a:hover {
  color: #007bff;
}
#team .member .social-links i {
  font-size: 18px;
  margin: 0 2px;
}

/* Footer(Ronak) */

#contact{
  margin: 30px 0;
}

#contact .img-fluid{
  position: relative;
  top: 10%;
}

/* Misc */

.description {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: center;
}

.section-header{
  padding-top: 10px;
  text-align: center;
}

.section-header h2{
  font-weight: bold;
}

.section-header h5{
  font-style: italic;
}

.parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Mobile */

/* For lg display */
@media screen and (min-width: 970px) {
  nav {
    height: 4.3rem;
  }
  #intro > div > h1 {
    font-size: 5rem;
  }
  #intro > div > p {
    font-size: 2rem;
  }
}

/* For upto md display */

@media screen and (max-width: 768px) {
  
  /* Intro */

  /* Change collapse bg color on mobile */
  .navbar-collapse {
    background-color: #000;
  }
  .img-logo {
    margin: 1rem 2rem;
    height: 6rem;
    width: 6rem;
  }

  /* Portfolio */
  
  #portfolio .carousel{
    margin: 20px 0;
  }

  #portfolio .carousel-item{
    padding: 0 10%;
  }
  #portfolio .col-lg-6{
    text-align: left;
    margin-bottom: 20px;
  }
  #portfolio p{
    display: none;
  }
}