/* Nav */
.bg-light {
    background:transparent !important;
    transition:0.75s ease;
}
.bg-light.scrolled {
    background:#f7f7f7 !important;
}
.bg-dark{
    background:transparent !important;
    transition:0.75s ease;
}
.bg-dark.scrolled {
    background:#000 !important;
}

.navbar-brand{
    margin-left: 20px;
    text-shadow: 0 0 10px black;
    font-family: 'Open Sans', sans-serif;
    display: flex; 
    align-items: center;
}

.navbar-brand > img{
    height: inherit;
    width: 3.8rem;
    margin-right: 10px;
}

nav:hover{
    background-color: rgb(0, 0, 0, 0.7) !important;
}

/* Intro */

#intro{
    display: grid;
    color: white;
    align-content: center;
    height: 100vh;
    background-image: radial-gradient(rgb(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), 
                        url('../img/placeholder2.jpg'); /* placeholder img */
    background-size: cover;
}

#intro > *{
    text-align: center;
    text-shadow: 0 0 10px black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#intro > div > h1{
    font-family: 'Open Sans', sans-serif;
}

#intro > div > p{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

#intro span{
    color: #007bff;
    font-weight: 700;
}

.btn{
    width: 9rem;
}

.image-container{
    display: flex;
}

.img-logo{
    margin: 1rem 3rem;
    height: 8rem;
    width: 8rem;
}

/* Services */
.card{
    margin: auto;
    width: 18rem;
    border-radius: 10px;
    box-shadow: 0 0 5px grey;
}

/* Media */

/* For lg display */
@media screen and (min-width: 970px) { 
    nav{
        height: 4.3rem;
    }
    #intro > div > h1{
        font-size: 5rem;
    }
    #intro > div > p{
        font-size: 2rem;
    }
}

/* For upto md display */

@media screen and (max-width: 768px) { /* Change collapse bg color on mobile */
    .navbar-collapse
    {
        background-color:#000;
    }
    .img-logo{
        margin: 1rem 2rem;
        height: 6rem;
        width: 6rem;
    }
}