/* Scroll Up Button */
body {
  margin: 0;
  padding: 0;
}

#rollUp {
  display: none;
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 0;
  margin: 15px;
}

#rollUp.scroll {
  display: grid;
}

#rollUp.btn {
  background-color: #457bbd;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  align-content: center;
}

/* Nav */
.bg-light {
  background: transparent !important;
  transition: 0.75s ease;
}
.bg-light.scrolled {
  /* background: transparent !important; */
  background-color: #d1ebf5 !important;
}
.bg-dark {
  background: transparent !important;
  transition: 0.75s ease;
}
.bg-dark.scrolled {
  background: #d1ebf5 !important;
}

.navbar-brand {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
}

.navbar-brand .brand-image {
  margin: 5px;
}

.navbar-brand .brand-image.img {
  height: 50px;
}

.navbar-brand .brand-image.text {
  height: 26px;
}

.nav-link {
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  /* color: white !important; */
  color: rgb(36, 36, 36) !important;
}

nav:hover {
  /* background-color: rgb(209, 235, 245, 0.8) !important; */
  /* background-color: white !important; */
}

/* Intro */
#intro {
  padding: 0;
  margin: 0;
}

#intro .img-holder {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgb(209, 235, 245, 0.7),
      rgb(158, 168, 181, 0.7),
      rgb(108, 107, 116, 0.7),
      rgb(57, 54, 57, 0.7),
      rgb(0, 0, 0, 0.7)
    ),
    url("../img/placeholder2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.img-holder::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(3px);
}

#intro .intro-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
}

#intro .intro-content .intro-info {
  color: white;
  text-align: center;
  text-shadow: 0 0 10px black;
}

#intro .intro-content .intro-info h1 {
  font-family: "Open Sans", sans-serif;
}

#intro .intro-content .intro-info p {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

#intro .intro-content .intro-info h1 span {
  /* text-shadow: none; */
  text-shadow: 0 0 2px black;
  color: #363683; /* #007bff; #34337b*/
  font-weight: 700;
}

.img-container {
  display: flex;
  justify-content: center;
}

.img-logo {
  margin: 1rem 3rem;
  height: 10rem;
  width: 10rem;
}

/*ABOUT us*/

.description-color {
  background-color: white;
}

#about {
  margin: 1vh 0;
  padding: 0vh 7vw;
}

#about .about-content {
  padding-top: 40px;
}

#about .about-content h2 {
  color: #110e38;
  font-weight: 700;
}

#about .about-content h3 {
  color: #457bbd;
  font-weight: 400;
  font-size: 22px;
  font-style: italic;
}

#about .about-content ul {
  list-style: none;
  padding: 0;
}

#about .about-content ul li {
  padding-bottom: 10px;
}

#about .about-content ul li i {
  font-size: 20px;
  padding-right: 4px;
  color: #457bbd;
}

#about .about-img {
  position: relative;
  margin: 30px 30px 30px 30px;
}

#about .about-img img {
  width: 100%;
  border: 8px solid #fff;
  transition: 0.5s;
}

#about .about-img img:hover {
  width: 100%;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
#about .about-img::before {
  position: absolute;
  left: -23px;
  top: -22px;
  width: 82%;
  height: 80%;
  z-index: -1;
  content: "";
  background-color: #457bbd;
  transition: 0.5s;
}

#about .about-img::after {
  position: absolute;
  right: -23px;
  bottom: -22px;
  width: 82%;
  height: 80%;
  z-index: -1;
  content: "";
  background-color: #457bbd;
  transition: 0.5s;
}

#about .counter {
  color: #457bbd;
  margin: 10px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

#about .counter span {
  font-size: 60px;
  font-weight: 600;
}

/*service section (Sahil)*/
#services {
  background-color: #f5f8fd;
}

#services .section-header {
  color: #000;
  /* text-shadow: 0 0 15px black; */
}

#services .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#services .box:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#services .icon {
  margin: 0 auto 15px auto;
  padding-top: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#services .icon i {
  font-size: 36px;
  line-height: 1;
}

#services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#services .title a {
  color: #111;
}

#services .box:hover .title a {
  color: #1bb1dc;
}

/*Why us (Sahil)*/

.box {
  width: fit-content;
}

.image img {
  width: 100%;
}

#why-us {
  overflow: hidden;
}

#why-us .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#why-us .box:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#why-us .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#why-us .title a {
  color: #111;
}

#why-us .box:hover .title a {
  color: #457bbd;
}

#why-us {
  padding: 80px 0;
}

#why-us .why-content {
  padding-top: 90px;
}

#why-us .why-content ul {
  list-style: none;
  padding: 0;
}

#why-us .why-content ul li {
  padding-bottom: 10px;
}

#why-us .why-content ul li i {
  font-size: 20px;
  padding-right: 4px;
  color: #457bbd;
}

#why-us .why-img {
  position: relative;
  margin: 30px 30px 30px 30px;
}

#why-us .why-img img {
  width: 100%;
  border: 8px solid #fff;
  transition: 0.5s;
}
#why-us .why-img::before {
  position: absolute;
  left: -23px;
  top: -22px;
  width: 82%;
  height: 80%;
  z-index: -1;
  content: "";
  background-color: #457bbd;
  transition: 0.5s;
}

#why-us .why-img::after {
  position: absolute;
  right: -23px;
  bottom: -22px;
  width: 82%;
  height: 80%;
  z-index: -1;
  content: "";
  background-color: #457bbd;
  transition: 0.5s;
}

#why-us .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#why-us .box:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#why-us .icon {
  margin: 0 auto 15px auto;
  padding-top: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#why-us .icon i {
  font-size: 36px;
  line-height: 1;
}

#why-us .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#why-us .title a {
  color: #111;
}

#why-us .box:hover .title a {
  color: #1bb1dc;
}

/* Portfolio */

#portfolio {
  background-color: #f5f8fd;
  color: black;
}

#portfolio .carousel-item {
  padding-right: 10%;
}

#portfolio .row {
  margin-top: 10px;
  margin-bottom: 70px;
}

#portfolio .content {
  position: relative;
  top: 25%;
  left: 25%;
}

#portfolio p {
  padding-right: 40%;
}

#portfolio img {
  margin-top: 10px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 15px 3px black;
  transition: 0.6s ease;
}

#portfolio img:hover {
  transform: scale(1.025);
}

/* Team */

#team {
  padding: 10px 0 40px;
  text-align: center;
  /* background-image: url("../img/team.jpg"); */
  color: black;
  /* background-image: linear-gradient(to bottom, #d1ebf5, #e0effa, #edf3fc, #f7f9fe, #ffffff); */
}

#team .section-header {
  /* text-shadow: 0 0 10px black; */
}

#team h2 {
  position: relative;
  padding: 0px 0px 15px;
}
#team p {
  font-size: 15px;
  font-style: italic;
  padding: 0px;
  margin: 25px 0px 40px;
}
/* #team h2::after {
  content: '';
  border-bottom: 2px solid #fff;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 90px;
  margin: 0 auto;
  display: block;
} */
#team .member {
  margin: 0px 50px 50px;
  position: relative;
  overflow: hidden;
  background-color: #f5f8fd; /* #ffffff */
  padding: 10px;
  border-radius: 15px; /* 0px 15px 0px */
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.4);
}
#team .member .member-info {
  display: block;
  position: absolute;
  bottom: -40px;
  left: 0px;
  right: 0px;
  transition: 0.4s;
  padding: 15px 0;
  color: white;
  background: rgba(0, 0, 0, 0.4);
}
#team .member:hover .member-info {
  bottom: 0px;
}
#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}
#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}
#team .member .social-links {
  margin-top: 15px;
}
#team .member .social-links a {
  transition: none;
  color: #fff;
}
#team .member .social-links a:hover {
  color: #007bff;
}
#team .member .social-links i {
  font-size: 18px;
  margin: 0 2px;
}

/* Footer */

#contact {
  padding: 30px 0;
  background-color: #f5f8fd;
}

#contact h3 {
  color: #363683;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

#contact .img-fluid {
  position: relative;
  top: 10%;
}

/* Misc */

.description {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: center;
}

.section-header {
  padding-top: 30px;
  text-align: center;
}

.section-header h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.section-header h5 {
  font-style: italic;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Mobile */

/* For lg display */
@media screen and (min-width: 970px) {
  nav {
    height: 64px;
  }
  #intro .intro-content .intro-info h1 {
    font-size: 5rem;
  }
  #intro .intro-content .intro-info p {
    font-size: 2rem;
  }
}

/* For upto md display */

@media screen and (max-width: 768px) {
  /* Intro */

  /* Change collapse bg color on mobile */
  .navbar-collapse {
    background-color: #d1ebf5;
  }
  .img-logo {
    margin: 1rem 2rem;
    height: 6rem;
    width: 6rem;
  }

  /* Portfolio */

  #portfolio .carousel {
    margin: 20px 0;
  }

  #portfolio .carousel-item {
    padding: 0 10%;
  }
  #portfolio .col-lg-6 {
    text-align: left;
    margin-bottom: 20px;
  }
  #portfolio p {
    display: none;
  }
}
